LS_HOME="{{ ls_home }}"
LS_SETTINGS_DIR="{{ ls_conf_dir }}"
LS_PIDFILE="{{ ls_pid_file }}"
LS_USER="{{ ls_user }}"
LS_GROUP="{{ ls_group }}"
LS_GC_LOG_FILE="{{ ls_log_dir }}/gc.log"
LS_OPEN_FILES="{{ ls_limits_nofile }}"
LS_NICE="{{ ls_nice_level }}"
SERVICE_NAME="{{ ls_service_name }}"
SERVICE_DESCRIPTION="{{ ls_service_name }}"
LOGSTASH_KEYSTORE_PASS="{{ ls_keystore_pass }}"
